body {
    background-color: white;
    color: black;
}
body.dark-mode {
    background-color: black;
    color: white;
}

a {
    color: lightblue;
}

a:visited {
    color: pink;
}

a.dark-mode {
    color: lightblue;
}

a.dark-mode:visited {
    color: pink;
}
