/* Default (Dark Mode) */
body {
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    font-size: 100px;
}

p {
    font-size: 40px;
}

button {
    font-size: 40px;
    border-radius: 5px;
    border-style: none;
}

.topbar {
    margin-left: auto;
    margin-right: auto;
}

.topbar-button {
    margin-left: 10px;
    margin-right: 10px;
}

.table {
    margin-left: auto;
    margin-right: auto;
}

td {
    margin-left: 10px;
    margin-right: 10px;
}

a {
    font-size: 40px;
    color: lightblue;  /* Links in dark mode */
}

a:visited {
    color: lightblue;  /* Visited links in dark mode */
}

/* Dark Mode - Applied by default */
body.dark-mode {
    background-color: black;
    color: white;
}

body.dark-mode a {
    color: lightblue;
}

body.dark-mode a:visited {
    color: lightblue;
}

button.dark-mode {
    color: white;
    background-color: dimgrey;
}

/* Light Mode */
body.light-mode {
    background-color: white;
    color: black;
}

body.light-mode a {
    color: blue;
}

body.light-mode a:visited {
    color: blue;
}

button.light-mode {
    color: rgb(58, 58, 58);
    background-color: darkgrey;
}

/* Dark mode styles using prefers-color-scheme */
@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    a {
        color: lightblue;  /* Links in dark mode */
    }

    a:visited {
        color: lightblue;  /* Visited links in dark mode */
    }
}
